<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kidsupper</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/flat-ui/images/logo.ico">
        <link rel="stylesheet" href="flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/flat-ui/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="/common-files/css/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="samples/sample-04/css/style.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">Kidsupper</a>
                         </div>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li class="active"><a href="#">首頁</a></li>
                                <li><a href="/dashboard">記錄</a></li>
                                <li><a href="/shop">成長餐</a></li>
                                <li><a href="blog">部落格</a></li>
                                <li><a href="contact">聯絡我們</a></li>
                            </ul>
                            <form class="navbar-form pull-left">
                                <a class="btn btn-info" href="/accounts/login/">登入</a>
                                <a class="btn btn-info" href="/accounts/signup">註冊</a>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <section class="header-10-sub v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Kidsupper和你一起發掘孩子身高的潛力</h1>
                            <p>
                                為孩子個別打造長高計劃
                                <br/>
                                由專業醫師推薦
                            </p>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="/dashboard"> </a>
            </section>

            <!-- content-7  -->
            <section class="content-7 v-center">
                <div>

                    <div class="container">
                        <h3>你知道孩子能長多高嗎？</h3>

                        <div class="row v-center">
                            <div class="col-sm-3">
                                <div>
                                    孩子的最高身高再一出生就已經決定了！看看你的孩子能長多高：<br>
                                    <blockquote>男：（爸爸的身高＋媽媽的身高）/2 ± 7.5 cm<br>女：（爸爸的身高＋媽媽的身高）/2 ± 6.5 cm</blockquote>
                                    要長到孩子的最高身高，還需要正確的生活習慣，Kidsupper和你的孩子一起完成！
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-offset-1">
                                    <div class="screen-wrapper">
                                        <div class="screen">
                                            <img src="/common-files/img/content/screen-popup.png" alt="">
                                            <img src="/common-files/img/content/screen.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23 v-center bg-midnight-blue custom-bg">
                <div>
                    <div class="container">
                        <div class="hero-unit hero-unit-bordered">
                            <h1>記錄</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="/dashboard"> </a>
            </section>

            <!-- content-8  -->
            <section class="content-9 v-center">
                <div>
                    <div class="container">
                        <img src="/common-files/img/content/nutritionist-expert.jpg" width="450" height="563" alt="">

                        <h3>增高餐</h3>

                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>Kidsupper根據孩子生活記錄由專業醫師及營養師為您的孩子調配每日飲食，避免孩子性早熟，確保孩子飲食均衡，激發孩子的身高潛力。
                                </p>
                                <a class="btn btn-large btn-clear" href="shop">嘗試看看</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  
            <section class="content-23  v-center bg-midnight-blue">
                <div id="bgVideo" class="background"></div>
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Find a perfect suit for
                            <br class="hidden-phone">
                            your startup</h1>
                        </div>
                    </div>
                </div>
                <a class="control-btn fui-arrow-down" href="#"> </a>
            </section> -->

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img width="380" height="187" alt="" src="/samples/sample-04/img/doctors6.png"/>
                        <h3>專業醫師教你增高祕訣</h3>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>
                                    Kidsupper會根據孩子每週的記錄，由專業醫師個別給予建議（透過Email），不僅改善生活習慣，同時為健康把關
                                </p>
                                <a class="btn btn-large btn-clear" href="/blog">長高祕訣</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-11  -->
            <section class="content-11">
                <div class="container">
                    <span>有了Kidsupper，身高不再是煩惱</span>
                    <a class="btn btn-large btn-danger" href="accounts/signup">註冊</a>
                </div>
            </section>

            <!-- footer-3 -->
            <footer class="footer-3">
                <div class="container">
                    <div class="row v-center">
                        <div class="col-sm-2">
                            <a class="brand" href="kidsupper.com">Kidsupper</a>
                        </div>
                        <div class="col-sm-7">
                            <div class="additional-links">
                                powered by  <a href="http://kidsupper.com">kidsupper</a> and <a href="http://moderntechnologyinnovators.com">MTI</a>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h6>Taipei, TW</h6>
                            <div class="address">
                                Wu-xing street, Xin-yi District<br>Taipei, TW, 110
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/common-files/js/jquery-1.10.2.min.js"></script>
        <script src="/flat-ui/js/bootstrap.min.js"></script>
        <script src="/common-files/js/modernizr.custom.js"></script>
        <script src="/common-files/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/common-files/js/jquery.parallax.min.js"></script>
        <script src="/common-files/js/startup-kit.js"></script>
        <script src="/samples/sample-04/js/jquery.backgroundvideo.min.js"></script>
        <script src="/samples/sample-04/js/script.js"></script>
    </body>
</html>